<h2>Search Authors</h2>
<form action="/authors" method="GET">
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
    <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => { %>
    <div><%= author.name %></div>
<% }) %>
